@font-face {
    font-family: "Pokemon";
    src:url('PokemonGB.ttf')  format('truetype');
}

@font-face {
    font-family:"Game Boy";
    src: url('Futura\ Condensed\ Medium.otf')  format('truetype');
}

*, html {
    margin:0;
    overflow:hidden;
    box-sizing: border-box;
}

.bg-wrapper {
    height:100vh;
    width:100vw;
    min-height:800px;
    min-width:800px;
    background-image: url('https://proxy.duckduckgo.com/iu/?u=http%3A%2F%2Fvignette3.wikia.nocookie.net%2Fpokemoncrater%2Fimages%2Fb%2Fbc%2FGrass_Type.jpg%2Frevision%2Flatest%3Fcb%3D20100315205316&f=1');
    background-size:contain;
    background-position: center;
    opacity:0.7;
}

.pokedex-container {
    position:absolute;
    top:0;
    left:0;
    height:100vh;
    width:100vw;
    display:flex;
    justify-content:center;
    align-items:center;
}

.pokedex-view-container {
    height:400px;
    width:300px;
    background-image: linear-gradient(to right, rgb(255, 59, 59), rgba(255,0,0,1));
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    padding:10px;
    justify-content:space-between;
    /* border-bottom-left-radius: 3%;
    border-top-left-radius: 3%; */
    border-radius:3%;
}

.pokedex-view-box {
    height:200px;
    display:flex;
    flex-direction:column;
    background-color:white;
    font-family: "Pokemon";
    font-size:.6em;
    font-weight:bold;
    border-radius: 3%;
    border: 1px solid black;
}

.first-box {
    display:flex;
    align-items:center;
    justify-content:center;
}

.pokeball {
    height: 150px;
    width:150px;
    background-image: url('https://proxy.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.bbU3UEm62vuPiONlcNx09gHaHZ%26pid%3D15.1&f=1');
    background-size: contain;
}

.pokedex-view-container-top-half {
    height: 100px;
    /* width:100%; */
    border-radius:none;
    /* background-color:white; */
    display:flex;
    justify-content:space-between;
    /* padding-left:10px; */
}

.stats-top-container {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
}

.image-container {
    height:90px;
    width:90px;
    display:flex;
    align-items:center;
    justify-content:center;
    /* border:1px solid black; */
    border:1px solid transparent;
}

.poke-image {
    height:80px;
    width:90px;
    border:1px solid transparent;
    /* background-image: url("https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png"); */
    /* background-position:center; */
}

.pokemon-number-display-container {
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    align-items:flex-end;
    padding-top:8px;
    padding-right:8px;
    /* position:absolute; */
}

.word-container {
    padding-left:7px;
    margin-top:5px;
    height:18px;
    /* display:flex;
    align-items:center; */
}

.display-letters {
    height:18px;
}

.pokemon-name-container {
    height:50px;
    width:250px;
    background-image: linear-gradient(to right, rgb(2, 163, 2), rgb(90, 255, 10));
    background-color:rgb(2, 163, 2);
    display:flex;
    align-items:center;
    justify-content:center;
    align-self:center;
    border-radius:5px;
    border:2px solid black;
}

.pokemon-description {
    padding-left:7px;
    position:relative;
    height:100px;
    line-height:25px;
}

.attack-title {
    padding-left:7px;
}

.pokemon-attacks {
    width:100%;
    display:flex;
    flex-wrap: wrap;
    /* text-align:center; */
    display:inline-block;
}

.individual-pokemon-attack {
    margin-left:10px;
    margin-top:10px;
    
}

.pokedex-view-container-bottom-half {
    height: 100px;
    width:100%;
    /* display:flex;
    justify-content:center;
    align-items:center; */
}

.current-pokemon-name {
    font-family:"Pokemon";
    height:14px;
}

.pokedex-toggle-container {
    height:90px;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}

.stats-container {
    height:100%;
    width:40%;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
}

.left-buttons {
    height:25px;
    width:60px;
    background-color:rgb(26, 26, 34);
    border-radius: 5px;
    color:white;
    display:flex;
    align-items:center;
    justify-content: center;
    font-family:"Game Boy";
    letter-spacing:1px;
    font-size:1.1em;
}

.toggle-buttons {
    height:100%;
    width:150px;
    /* background-color:green; */
    display:flex;
    align-items:center;
    justify-content:space-around;
}

.fas {
    font-size:4em;
}

.current-pokemon-name {
    text-align:center;
}

.pokedex-controls-container {
    height:400px;
    width:300px;
    background-image: linear-gradient(to right, rgb(255, 59, 59), rgba(255,0,0,1));
    border: 1px solid black;
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    align-items:center;
    border-radius:3%;
    /* border-bottom-right-radius: 3%;
    border-top-right-radius: 3%; */
}

.searchbar-container {
    height:80px;
    width:300px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.pokedex-searchbar {
    height: 40px;
    width:250px;
    text-align:center;
    font-size:1.6em;
    border-radius:5px;
    border:none;
    background-image: linear-gradient(to left, rgb(18, 18, 185), rgb(68, 172, 207));
    color:white;
    border: 1px solid rgb(48, 48, 48);
    font-family: "Game Boy";
    letter-spacing:2px;
}

.pokedex-key-pad {
    height:260px;
    width:260px;
    display:flex;
    flex-wrap:wrap;
    align-items:space-between;
    justify-content:flex-start;
}

.letter-buttons {
    height:30px;
    width:48px;
    border-radius: 7%;
    border:none;
    margin:2px;
    font-size:1.2em;
    font-family: "Game Boy";
}

.numbers-container {
    height:60px;
    width:280px;
    /* background-color:black; */
    align-self:center;
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.number-buttons {
    display:flex;
    justify-content:center;
    align-items:center;
    height:20px;
    width:22px;
    border:none;
    border-radius:10%;
}

.buttons {
    background-color:rgb(66, 66, 66);
    color:rgb(184, 184, 184);
    box-sizing: border-box;
    border: 1px solid black;
}

.buttons:hover {
    cursor:pointer;
}

.circle-buttons {
    border-radius:50%;
    height:45px;
    width:45px;
    margin:5px;
    border:none;
    position:relative;
    left:40px;
    top:10px;
    z-index:1000;
    display:flex;
    justify-content:center;
    align-items:center;
    /* border-right:1px solid black;
    border-bottom:1px solid black; */
    box-shadow:1px 1px black;
    font-family: "Game Boy";
    letter-spacing:1px;
    font-size:.8em;
    color:rgb(207, 205, 205);
}

.button-enter {
    background-color:rgb(6, 160, 6);
}

.button-delete {
    background-color:rgb(218, 143, 5);
}

.button-random {
    background-color:rgb(19, 19, 233);
}

.hinge-container {
    height:400px;
    width:8px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
}

.hinges {
    height:50px;
    width:8px;
    background-color:red;
}